@use "../mixins";

.carusel {
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
    &__inner {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 80px;
    }
    &__wrapper {
        column-gap: 30px;
        @include mixins.unstyled-list;
    }
    &__cards {
        display: flex;
        flex-direction: column;
        flex-shrink: 0;
        width: 280px;
        padding-left: 48px;
        border-radius: 8px;
        background: #F7F5FF;
        padding: 31px;
        
    }
    &__blockquite   {
        margin: 0;
        margin-bottom: 31px;
    }
    &__user-name {
        margin: 0;    
    }
}